<% title "Edit Winery" %>

<div class="container">
  <hr class="space">
  <div class="push-3 span-18 last main">
    <hr class="space">
    <div class="push-1 span-16">
    
      <h2>Edit Winery</h2>
      <%= render :partial => "form" %>    </div>
      
  </div>
</div>
