<h1>Favorites</h1>  
  
  <div id="top_wines">
    <%= render :partial=>"home/top_wines", :locals => {:wines => @wines} %>
  </div>

<h2>New Favorite</h2>  
<% form_for [@favorable, Favorite.new] do |form| %>
  <%= form.error_messages %>
  <ol class="formList">
    <li><%= submit_tag "Add As Favorite" %></li>  
  </ol>  
<% end %>
