<hr class="space"/>
<div class="push-1 span-22 last">
  <div class="span-7 last colborder">
    <div id="fav_special_list"><%= image_tag("ajax-loader.gif", :alt => "Loading") %>&nbsp;&nbsp;&nbsp;Loading...</div>
    <div id="fav_event_list"><%= image_tag("ajax-loader.gif", :alt => "Loading") %>&nbsp;&nbsp;&nbsp;Loading...</div>
  </div>
  <div class="span-7 last colborder">
    <div id="fav_winery_list"><%= image_tag("ajax-loader.gif", :alt => "Loading") %>&nbsp;&nbsp;&nbsp;Loading...</div>
    <div id="fav_wine_list"><%= image_tag("ajax-loader.gif", :alt => "Loading") %>&nbsp;&nbsp;&nbsp;Loading...</div>
  </div>
</div>
