*{ margin:0; padding:0; }

body {
/*    font-family: Verdana, Helvetica, sans-serif; */
    background-color: rgba(221,221,221,1);
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #444;
    font-family: 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
    font-size: 11px;
}

div {
    display: block;
}

#top_line {
   background: rgba(0,0,0,1);
   width: 100%;
   height: 30px; 
}

#top_line_container {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   width: 1000px;
}

#header {
/*   background: rgba(184,0,40,1); */
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(184,0,40,1)), to(rgba(132,0,46,1)));
   background: -moz-linear-gradient(-90deg, rgba(184,0,40,1), rgba(132,0,46,1));
   width: 100%;
   height: auto;
   position: relative;
}

#header_container {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   width: 1000px;
}

#user_nav  {
   float: right;
   padding-top: 6px;  
}

#user_nav li  { 
   padding: 3px;
   list-style: none; 
   display: inline;
   position: relative;
/*   border-left: 1px;
   border-right: 1px;
   border-bottom: 1px;
   border-style: solid;
   border-color: rgba(255,255,255,1);
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
   background: rgba(132,0,46,1); */
}

#user_nav li a { 
   text-decoration: none;
   color: rgba(255,255,255,1);
   padding: 6px; 
   margin: 3px;
}

#user_nav li a:hover {
   text-decoration: underline;
}

div#logo {
   padding-bottom: 30px;
}

#logo a {
   color: rgba(255,255,255,1);
   font-size: 30px;
   font-weight: bold;
	text-decoration: none;
}

div#menu_bar {
   font-size: 16px;
/*   background: rgba(132,0,46,1); */
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
}

div#menu_bar_container {
}

div#menu_bar_container ul {
   padding-top: 5px;
   padding-bottom: 12px;
}

div#menu_bar_container ul li {
   list-style: none; 
   display: inline;
   margin-right: 10px;
   font-weight: bold;
}

div#menu_bar_container ul li a {
	text-decoration: none;
	padding: 12px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}

div#menu_bar_container ul li a:not(#selected_main_tab) {
   color: rgba(230,230,230,1);
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(132,0,46,1)), to(rgba(184,0,40,1)));
   background: -moz-linear-gradient(90deg, rgba(184,0,40,1), rgba(132,0,46,1));
/*	-webkit-transition: all .1s ease-in-out; */
	border-color: rgba(184,0,40,1);
	border-style: solid;
	border-width: 1px 1px 0px 1px;
}

div#menu_bar_container ul li a:hover {
	color: rgba(255,255,255,1);
	text-decoration: underline;
	text-shadow: white 0px 0px 15px, white 0px 0px 6px, white 0px 0px 1px;
/*	-webkit-transition: all .1s ease-in-out; */
}

div#menu_bar_container ul li a#selected_main_tab {
   background-color: rgba(255,255,255,1);
   color: rgba(132,0,46,1);
   text-shadow: 0px 0px 0px rgba(221,204,181,1);
}

div#menu_bar_container ul li a#selected_main_tab:hover {
	text-decoration: none;
}

div#canvas {
    background: rgba(221,221,221,1);
    margin: 0px auto;
    width: 1000px;
}

div#main {
  margin-top: 20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
   float: left;
   background-color: rgba(255,255,255,1);
}

div#main_body {
   float: left;
   padding: 5px;
}

div#column_1 {
   width:730px;
   float: left;
   margin: 10px 0px 0px 10px;
}

div#column_1_1 {
   width:230px;
   float: left;
}

div#column_1_2 {
   width:500px;
   float: left;
}

div#column_2 {
   width:230px;
   float: left;
   margin: 10px 0px 0px 10px;
}

table#top_list caption {
   font-size: 18px;
   font-weight: bold;
/*   margin-bottom:5px; */
	background-color:rgba(255,91,0,1);
/*	background-color:rgba(74,192,242,1); */
	color:rgba(255,255,255,1);
/*	color:rgba(74,192,242,1); */
   width:220px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
/*	text-shadow: rgba(0,0,0,1) 0px 1px 0px; */
	text-shadow: rgba(32,32,32,1) 0px 1px 0px;
}

table#top_list {
	border-color: rgba(255,91,0,1);
	border-width: 2px 1px 10px 1px;
	border-style: solid;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius:10px;
   -moz-box-shadow: 5px 5px 7px #888;
   -webkit-box-shadow: 5px 5px 7px #888;
   box-shadow: 5px 5px 7px #888;
   font-size: 11px;
   margin-bottom: 20px;
/*   padding: 10px; */
   width:220px; 
}

table#top_list tr:hover {
   background-color: #F2F5EE;
}

table#top_list td {
   font-size: 11px;
   padding-left: 3px;
   padding-right: 3px;
   padding-top: 1px;
}

table#top_list table {
   margin-bottom:7px;
}

div#map {
   border: 2px solid rgba(74,192,242,1);
   min-width: 400px;
	min-height: 500px;
	height: 500px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}	

div#footer {
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(132,0,46,1)), to(rgba(184,0,40,1)));
   background: -moz-linear-gradient(90deg, rgba(184,0,40,1), rgba(132,0,46,1));
   width: 100%;
   height: 100px;
   float: left;
   margin-top: 25px;   
}


/*
div#home_left {
   width:150px;
   float:left;
   margin:0px 0px 10px 5px;
   height:500px;
}

div#home_middle {
   width:530px;
   margin:10px 0px 10px 10px;
   min-height:500px;
   _height:500px;
   float:left;
}

div#home_right {
   width:150px;
   margin:0;
   height:500px;
   float: right;
}
*/

div.entry_form  {
   padding: 10px;
}

div.entry_form form {
   background: rgba(255,91,0,1);
/*   background: rgba(132,0,46,1);*/
/*	background-color:rgba(221,221,221,1); */
/*	background-color:rgba(74,192,242,1); */
   padding: 20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	width: 800px;
}

div.entry_form  form fieldset {
   border: none;
   margin-bottom: 20px;
}   

div.entry_form  legend {
   font-size: 16px;
   font-weight: bold;
   padding-bottom: 10px;
   color: rgba(255,255,255,1);
   text-shadow: 0 2px 0px rgba(0,0,0,1);
}

div.entry_form  ol li {
   background: rgba(255,255,255,.3);
   border-color: rgba(255,255,255,.6);
   border-style: solid;
   border-width: 3px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   line-height: 30px;
   list-style: none;
   padding: 5px 10px;
   margin-bottom: 2px;
}

div.entry_form label {
   float: left;
   font-size: 15px;
   width: 180px;
}

div.entry_form input:not([type=submit]) {
   background: rgba(255,255,255,1);
   border: none;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
   border-radius: 20px;
   font: italic 15px Georgia, "Times New Roman", Times, serif;
   outline: none;
   padding: 5px;
   width: 300px;
}

div.entry_form textarea {
   background: rgba(255,255,255,1);
   border: none;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
   border-radius: 10px;
   font: italic 15px Georgia, "Times New Roman", Times, serif;
   outline: none;
   padding: 5px;
   width: 500px;
   height: 100px;
}

div.entry_form input:disabled {
  opacity: .7;
}

div.entry_form input:focus {
   -webkit-box-shadow: 0px 0px 8px #000;
}

div.entry_form input[type="text"]:required, 
div.entry_form input[type="password"]:required, 
div.entry_form input[type="email"]:required  {
  background-color: rgba(255,255,0,0.9);
}

/* div.entry_form input[type="submit"] {
   background-color:rgba(74,192,242,1);
   border: 2px solid rgba(74,192,242,.8);
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   color: #ffffff;
   display: block;
   font: 18px Georgia, "Times New Roman", Times, serif;
   letter-spacing: 1px;
   margin: auto;
   padding: 7px 25px;
   text-shadow: 0 1px 1px #000000;
   text-transform: uppercase;
} */


div.entry_form input[type="submit"] {
   /*background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(0,0,0,1)));
   background: -moz-linear-gradient(-90deg, rgba(184,0,40,1), rgba(132,0,46,1));*/
   display: block;
/*   background: -webkit-gradient(linear, left top, left bottom, from(#e9ede8), to(#ce401c),color-stop(0.4, #8c1b0b)); */
   background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#666666), color-stop(.6,#333));
   margin: auto;
   padding: 5px 20px 6px;
   color: #ffffff;
   text-decoration: none;
   font-weight: bold;
   border: solid thin #882d13;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   font-size: 15px;
	text-shadow: black 1px 1px 1px;
   border: 1px solid rgb(0,0,0,.4);
/*   -webkit-box-shadow: 3px 3px 7px #000; */
/* -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25); */
position: relative;
cursor: pointer;
}

div.entry_form input[type="submit"]:hover {
/*   -webkit-box-shadow: 3px 3px 7px #000; */
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(233,237,232,1)), to(rgba(255,91,0,1)),color-stop(0.4, #8c1b0b));
/*   background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,165,0,1)), to(rgba(255,91,0,1)));
   background: -moz-linear-gradient(-90deg, rgba(184,0,40,1), rgba(132,0,46,1)); */
}


div.entry_form input[type="submit"]:active {
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(22,18,23,1)), to(rgba(255,91,0,1)),color-stop(0.4, #8c1b0b));
   
}
   
#list {
   padding: 10px;
}

#list h1 {
   color: rgba(132,0,46,1);
   border-bottom: rgba(132,0,46,1) 3px solid ;
   margin-bottom: 10px;
}

table#listing {
	border:rgba(132,0,46,1) 2px solid;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display: block;
   font-size: 12px;
   width: 100%;
}

table#listing caption {
   font-size: 12px;
   font-weight: bold;
   margin-bottom:5px;
}

table#listing th {
   background-color:rgba(132,0,46,1);
   color:rgba(255,255,255,1);
   text-align:left;
   font-size: 13px;
   padding-top:2px;
   padding-bottom:2px;
   padding-left:10px;
   padding-right:10px;
}

table#listing tr:nth-child(even) {background-color: #F4FAFF}

table#listing th:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px}

table#listing th:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px}

table#listing tr:last-child td:first-child {
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px}
	
table#listing tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px}

table#listing.collapsed {border-collapse:collapse}

table#listing tr td {
   padding-left: 10px;
   padding-bottom: 2px;
   vertical-align: top;
   border-left: 1px dotted gray;
}

table#listing tr td:first-child {
   border-left: none;
}


.message {
   width:200px;
   color: green;
   font-size: 16px;
   padding: 5px;
/*   margin-bottom: 10px; */
   border-style: solid;
   border-width: 2px; 
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
/*	position: absolute; */
	position: fixed;
	bottom: 0%;
	right: 0%;
}

.message.notice {
   color: green;
   border-color: green;
   background-color: rgba(0,255,0,.05)
}

.message.warning {
   color: yellow;
   border-color: yellow;
   background-color: rgba(255,255,0,.05)
}

.message.alert {
   color: red;
   border-color: red;
   background-color: rgba(255,0,0,.05)
}

#message_box {
/*   position: absolute; */
   position: fixed;
   bottom: 0px;
   right: 5px;
   width: 320px;
   z-index: 10;
/*   color: white;
   margin: 10px; */
}

.notice {
   position: relative;
   min-height: 30px;
}

.skin {
   position: absolute;
   background-color: #000;
/*   color: #fff; */
   bottom: 0px;
   left: 0px;
   opacity: 0.6;
   right: 0px;
   top: 0px;
   z-index: -1;
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px;
}

.close {
   background: transparent url('../images/close_icon.gif') 0 0 no-repeat;
   height: 25px;
   width: 25px;
   position: absolute;
   right: 0px;
   top: 5px;
   text-indent: -9999px;
}

#message_box p {
   color: #fff;
   padding: 5px;
   margin: 1em 0px;
}



.infoWindowContent {
   font-size: 10px;
   text-align: left;
}

.infoWindowContent h1 {
   font-size: 12px;
}

.action-menu {
   position: relative;
}   

a.action-menu-link {
   text-decoration:none;
   font-weight: bold;
   color: rgba(184,0,40,1);
   background-color: rgba(255,255,255,1);
}   


a.action-menu-link span {
   background-image:url(../images/bullet_arrow_down.png);
   background-repeat: no-repeat;
   background-position: 100% 50%;
   padding-right: 15px;
}

a.action-menu-link.menu-open {
   color: rgba(255,255,255,1);
   background-color: rgba(184,0,40,.9);
/*	border:rgba(184,0,40,1) 2px solid; */
	-moz-border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-moz-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
   -moz-box-shadow: 5px 5px 7px #888;
   -webkit-box-shadow: 10px 10px 7px #888;
   box-shadow: 10px 10px 7px #888;
   position: relative;
   z-index:900;
}

a.action-menu-link.menu-open span {
   background-image:url(../images/bullet_arrow_up.png);
   background-repeat: no-repeat;
   background-position: 100% 50%;
   padding-right: 15px;
}

.list-action-menu {
    font-size: 10px;
    position: absolute;
/*    right: 10px; */
    color: rgba(255,255,255,1);
    background-color: rgba(184,0,40,.9);
	-moz-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
   -moz-box-shadow: 5px 5px 7px #888;
   -webkit-box-shadow: 10px 10px 7px rgba(136,136,136,.9);
   box-shadow: 10px 10px 7px #888;
	white-space:nowrap;
	padding-top: 10px;
   z-index:900;
}


.list-action-menu ul {
    display: inline;
}

.list-action-menu li {
    list-style: none;
    padding: 5px;
    font-weight: bold;
   font-size: 10px;
}

.list-action-menu a {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.list-action-menu a:hover {
    text-decoration: underline;
}

a.list_element {
   text-decoration: none;
   color: #000;
   position: relative;
}

a.list_element span {
   display: none;
}

a.list_element:hover span {
   position: absolute;
   display: inline;
   width: 300px;
   bottom: 0px;
   left: 0px;
/*   width: 300px;
   padding: 5px; */
   background-color: rgba(255,255,255,1);
/*	border: #FF5B00 2px solid;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px; */
   -moz-box-shadow: 5px 5px 7px #888;
   -webkit-box-shadow: 5px 5px 7px #888;
   box-shadow: 5px 5px 7px #888;
   z-index:1000;
}

/* The error box */

.fieldWithErrors {
/*  padding: 2px;
  background-color: #EEFFEE;
  display: inline; *//
}

.fieldWithErrors * {
   color: red;
   font-weight: bold;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.panel {
/*   float: left; */
   position: relative;
/*   height: 300px;
   min-width: 800px;
   width: 800px; */
}

.panel .front {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 900;
   background: rgba(255,255,255,1);

   -webkit-transform-style: preserve-3d;
   -webkit-backface-visibility: hidden;
   -webkit-transition: all .7s ease-in-out;
}

.panel.flipped .front {
   z-index: 900;
/*            -webkit-transform: rotateY(180deg); */
   -webkit-transform: rotateX(180deg);
}
        
.panel .back {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 800;
   background: rgba(255,255,255,1);
   
/*            -webkit-transform: rotateY(-180deg); */
   -webkit-transform: rotateX(-180deg);
   -webkit-transform-style: preserve-3d;
   -webkit-backface-visibility: hidden;

   -webkit-transition: all .7s ease-in-out;
}

.panel.flipped .back {
   z-index: 1000;
/*            -webkit-transform: rotateY(0deg); */
   -webkit-transform: rotateX(0deg);
}

.triangle-border {
   background: rgba(255,255,255,1);
   border: 5px solid rgba(184,0,40,1);
   border-radius: 10px;
   -moz-border-radius: 10px;
	-webkit-border-radius:10px;
   color: #333;
   margin: 1em 0px 3em;
   padding: 15px;
   position: relative;
}

/* creates the larger triangle */
/*.triangle-border.left:before {
border-color: transparent rgba(184,0,40,1) transparent transparent;
border-style: solid;
border-width: 15px 30px;
bottom: auto;
left: -60px;
top: 10px;
}*/

/* creates the smaller triangle */
.triangle-border:before {
   border-width: 20px;
   border-style: solid;
   border-color: transparent;
   border-top-color: rgba(184,0,40,1);
   bottom: -40px;
   content: "\00a0";
   display: block;
   height: 0px;
   left: 40px;
   position: absolute;
   width: 0px;
}

/*.triangle-border.left:after {
   border-color: transparent white transparent transparent;
   border-style: solid;
   border-width: 9px 21px;
bottom: auto;
left: -42px;
top: 16px;
}
*/
.triangle-border:after {
   border-width: 13px;
   border-style: solid;
   border-color: transparent;
   border-top-color: rgba(255,255,255,1);
   bottom: -26px;
   content:  "\00a0";
   display: block;
   height: 0px;
   left: 47px;
   position: absolute;
   width: 0px;
}


/*

#container {
    width:780px;
    margin:0 auto;
    position: relative;
}

a img {
    border-width:0;
}

#topnav {
    padding:10px 0px 12px;
    font-size:11px;
    line-height:23px;
    text-align:right;
}

#topnav a.signin {
    background:#88bbd4;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    *background:transparent url("images/signin-nav-bg-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
#topnav a.signin:hover {
    background:#59B;
    *background:transparent url("images/signin-nav-bg-hover-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
#topnav a.signin, #topnav a.signin:hover {
    *background-position:0 3px!important;
}

a.signin {
    position:relative;
    margin-left:3px;
}
a.signin span {
    background-image:url("images/toggle_down_light.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}

#topnav a.menu-open {
    background:#FF5B00;
    color:#666!important;
    outline:none;
}

#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}
*/


a.signin {
/*    background-image:url("../images/bullet_arrow_down.png");
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: transparent; */
}

a.signin.menu-open {
/*    background-image:url("../images/bullet_arrow_up.png"); */
    background: #FF5B00;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #FF5B00;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
}

#signin_menu {
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-border-top-left-radius:10px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FF5B00;
    display:none;
    background-color:#FF5B00;
    position:absolute;
    width:210px;
    z-index:100;
/*    border:1px transparent; */
    text-align:left;
    padding:12px;
    top: 22px; 
    right: 9px; 
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#fff;
    font-size:11px;
}

#signin_menu fieldset {
   border: none;
   margin-bottom: 20px;
}


.pagination {
  background: white;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination em {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
  .pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
    .pagination a:hover, .pagination a:focus {
      color: #003;
      border-color: #003; }
  .pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }
    
div#winery_detail_header {
    float: none;
    clear: both;
}

div#winery_video {
    float: left;
    padding: 10px;
    margin: 10px;
}

div#winery_details {
    float: left;
    text-align: center;
    font-size: 18px;
    min-width: 320px;
    padding: 10px;
    margin: 10px;
}

div#winery_awards {
    float: left;
    text-align: right;
}

div#winery_wines, div#winery_events, div#winery_specials {
    float: none;
    clear: both;
    margin: 20px;
    padding: 20px;
}

div#winery_detail_body {
    float: none;
    clear: both;
    
}

div#winery_detail_footer {
    float: none;
    clear: both;
    
}

/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {
	float:left;
	position: relative;
	overflow: hidden;
	width: 660px;
	height: 120px;
	border: 1px solid #ccc;
    background: url(http://static.flowplayer.org/img/global/gradient/h300.png) repeat-x;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.items div {
	float:left;
}


.scrollable img {
    background-color: white;
    border: 1px solid #CCC;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    float: left;
    height: 75px;
    margin: 20px 5px 20px 21px;
    padding: 2px;
    width: 100px;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url(../images/hori_large.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:40px 10px;
	cursor:pointer;
	font-size:1px;
}

/* right */
a.right 				{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }

/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
}


/* Custome build star rating system */
.stars div a {
  background: transparent url(../images/sprite_rate.png) 0 0 no-repeat;
  display: inline-block;
  height: 23px;
  width: 12px;
  text-indent: -999em;
  overflow: hidden;
}

.stars a.rating-right {
  background-position: 0 -23px;
  padding-right: 6px;
}

.stars a.rating-over { background-position: 0 -46px; }

.stars a.rating-over.rating-right { background-position: 0 -69px; }

.stars a.rating { background-position: 0 -92px; }

.stars a.rating.rating-right { background-position: 0 -115px; }

/*
#signin_menu input[type=text], #signin_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
#signin_menu p {
    margin:0;
}
#signin_menu a {
    color:#6AC;
}
#signin_menu label {
    font-weight:normal;
}
#signin_menu p.remember {
    padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
    clear:both;
    margin:5px 0;
}
#signin_menu p a {
    color:#27B!important;
}
#signin_submit {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#39d url('images/bg-btn-blue.png') repeat-x scroll 0 0;
    border:1px solid #39D;
    color:#fff;
    text-shadow:0 -1px 0 #39d;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}

*/
