<p>Welcome <%= @resource.username %>!</p>

<p>You can confirm your Barrelrun.com account through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<h2>WINE ADVENTURERS</h2>
<p>We're the first wine site and application to fully connect wineries with users!</p>

<p>Our initial focus is California and will be expanding from there. We're adding new wineries & wines 
everyday. But if you don't see yours, please add it. Don't forget to tell your friends and favorite
wineries to use our free service!  And stay tuned as we're planning on releasing other cool features.</p>
<p>The more wineries and users we build together, the more dynamic and alive your experience will be!</p>


<h2>WINERY OWNERS</h2>
<p>Our winery-friendly dashboard allows you to add/edit your wine inventory, easily publish events, 
quickly create specials to influence potential customers on the fly (without the need to check-in), 
add as many videos as you want and much more.</p>
<p>And stay tuned as we're planning on releasing other cool, winery specific features in the near future.</p>
