#left-column
  #barrel-deal-banner
    %h2
      = image_tag("barrelrun/deal_icon.jpg", :alt=>"Barrel of a Deal", :id => "deal-icon")
      Barrel of a Deal
    = image_tag("barrelrun/barrel_deal_img.jpg", :alt=>"Barrel of a Deal", :width=>"358", :height=>"230")
    %p Discover incredible deals direct from various wineries across the pacific west! #{link_to "Register", new_user_registration_path} to be notified when it is launched!

  %hr

  #upcoming_specials

  %hr

#middle-column
  test

#right-column
  test

