#container
  #signup-banner
    = link_to image_tag("barrelrun/signup_button.png", :alt=>"signup button", :id => "signup-img"), new_user_registration_path
    now for free to discover and connect with wineries in real time.

