<div id="home" class="current">

  <div class="toolbar">
      <h1>Events</h1>
      <a href="/">Back</a>
  </div>
  
  <div class="body">
       <ul>
       	<% for event in @events %>
        <li class="arrow">
           <table>    
           <tr> 
            <td>
            	<div><%= link_to h(event.title), event %> </div>
            	<div><%=h event.description %> </div>
            </td>
            </tr>
             </table>                     
         </li>
        <% end %>
    </ul>  
</div>   
  
</div>
