$("#upcoming_events").html("<%= escape_javascript(render :partial=>'home/upcoming_events', :locals=>{:upcoming_events=>@events}) %>");
starRating.create('#upcoming_events .stars');
addNotice("<p><%= escape_javascript(flash.delete(:notice)) %></p>");
