
<center>

<%= image_tag("../images/landingpage_winery.jpg", :border=>0, :style=>"padding-bottom: 10px; vertical-align: middle;") %>
<br>
<a class="button"  href="/wineries/sign_up"><span>    Register for Free!   </span></a> <br>
<br>
</center>





