
<center>

<%= image_tag("../images/landingpage_user.jpg", :border=>0, :style=>"padding-bottom: 10px; vertical-align: middle;") %>
<br>
<a class="button"  href="../"><span>    Start Your Wine Adventure   </span></a> <br>
<br>
</center>





