<hr class="space">
<div class="prepend-1 span-22 last">
<H2 CLASS="western" STYLE="margin-top: 0.38in; margin-bottom: 0.22in; font-weight: normal; line-height: 0.48in">
<FONT COLOR="#57524a"><FONT SIZE=2 STYLE="font-size: 11pt">PRIVACY
POLICY</FONT></FONT></H2>
<P STYLE="margin-top: 0.07in; margin-bottom: 0.07in"><FONT COLOR="#414042"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Our
Commitment to Privacy</B></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.07in; margin-bottom: 0.07in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Your
privacy is important to us.  To better protect your privacy we
provide this notice explaining our online information practices and
the choices you can make about the way your information is collected
and used by accessing this mobile electronic device application
(&ldquo;App&rdquo;) and its corresponding website (&ldquo;Site&rdquo;),
which is solely owned and operated by us, Point2Wine, Inc, (which
owns BarrelRun.com) whether directly or through a business
relationship with any third-party. We take the issue of privacy very
seriously and value the trust you place in us each time you use our
App and Site. </FONT></FONT>
</P>
<P STYLE="margin-top: 0.07in; margin-bottom: 0.07in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>The
policy may change from time to time so please check back
periodically. If you have any questions about our privacy policies,
we encourage you to contact us using any of the methods outlined at
the end of our Privacy Statement.</FONT></FONT></P>
<P STYLE="margin-top: 0.07in; margin-bottom: 0.07in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>If
you do not agree to the terms of this Privacy Statement, you are not
authorized to use this App/Site.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT COLOR="#414042"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Definitions</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">All
definitions as set out in the BarrelRun.com End-User Terms and
Conditions of Use Agreement, apply to this Privacy Policy.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">Point2Wine,
Inc. is wholly committed to maintaining and protecting your privacy
and any personal information you may share with us. We will not sell
or share your personal information with third parties without first
obtaining your authorization to do so, except in accordance with the
following provisions:</FONT></FONT></P>
<OL>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">Affiliated
	Businesses we do not control - At times we may use the services of
	third party vendors, suppliers, or technical support firms and
	personnel which must comply with our high standards of protecting
	your privacy. Additionally we emphasize to all third parties and to
	our employees the confidential nature of user information and the
	high level of importance we place on maintaining this
	confidentiality.</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">Business
	Transfers - We may choose to sell our assets. In this type of
	transaction, customer information (your information) is typically
	one of the business assets that is transferred. Moreover, if all, or
	substantially all of our assets, were acquired, or in the unlikely
	event that we go out of business or enter bankruptcy, customer
	information would be one of the assets that is transferred or
	acquired by a third party. You acknowledge that such transfers may
	occur, and that any acquirer of Point2Wine, Inc or any of its assets
	may continue to use your Personal Information as set forth in this
	policy.</FONT></FONT></P>
</OL>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">Whenever
we collect Personal Information from you, we will always explain to
you how we intend to use that information. For example we may use
information in the following ways:</FONT></FONT></P>
<UL>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">For
	the purposes for which you specifically provided the information
	including, for example, to enable us to process, validate and verify
	you as a registered user.</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">To
	send you e-mail notifications about your subscription status, new or
	existing products and services, special offers, or to otherwise
	contact you.</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">To
	enhance existing features or develop new features, products and
	services.</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">To
	provide third parties with aggregate (non-personal) information
	about our user base and usage patterns.</FONT></FONT></P>
</UL>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">We
may automatically collect and store your handheld device&rsquo;s
Unique User Identification (&quot;UDID&quot;), your name, email
address, screen name (username), password, zip code and IP addresses
and Service usage information from you when you access the Service.
This information validates your right to access the BARREL RUN
Service and also helps us evaluate how our registered users (and in
the case of non-registered users visiting our website) navigate our
Service, including the number and frequency of visitors and
registered users to each feature of the Service, and the length of
their visits. Zip code information is used only for the purpose of
tracking wine availability, which will help us maintain information,
scores, and tasting notes regarding the wines we select to keep in
our database. By using the Service, you expressly consent to such use
of the information you provide us as specified in this paragraph.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">Additionally,
BARREL RUN may be contractually required to share certain information
with its third party vendors. Such shared information may include the
processing of, without limitation, timestamps, IP addresses,
geo-localization, and unique device identifiers or other data
associated with the usage of BARREL RUN functionality for business
purposes. To the greatest extent allowed by law, BARREL RUN
specifically disclaims any liability with respect to what type of
information is collected by Point2Wine&rsquo;s third party vendors,
if any, or how its third party vendors uses any such information. For
further information about how these businesses handle their Privacy
Policies, please visit their websites.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">&quot;Cookies&quot;
are small amounts of data that a Web site can send to your Web
browser and store on your computer. Cookies do not contain personal
information about you (unless you knowingly provide it). We may use
cookies as stated above, to enhance navigation and the functionality
of our Web site, to securely verify your identity as a registered
user, and to personalize aspects of your experience on our Site or in
relation to the Service.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">The
Personal Information we collect about you may be stored in
limited-access servers. We will maintain safeguards to protect the
security of these servers and your personally identifiable
information. You expressly consent to and agree that any functions
within the App, shall be uploaded to Point2Wine, Inc and amalgamated
with other users; such information is not personally identifiable to
other end users unless you set the Apps parameters to identify a
screen name.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">We
do reserve the right to disclose personal information in specific
circumstances, such as when we believe in good faith that we must
fulfill any legal and/or regulatory requirements, or to protect our
rights to our intellectual property or other properties. We are not
responsible for the privacy practices or content of any End User, or
other service providers or web site, including sites to which we
provide a link for informational or other purposes. Subscribers to
our Service are required to be at least twenty one (21) years of age
and any if we learn that a User is under the specified minimum age,
we will promptly delete the account along with any Personal
Information we may have collected about that User. In accordance with
the End-User Terms and Conditions of Use Agreement above written, you
agree that you relinquish and waive any and all rights to privacy
(for other rights please refer to the End-User Terms and Conditions
of Use Agreement) related to any of your User Content sent to us to
be posted or uploaded in the User Community of BarrelRun.com.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">If
you wish to correct any inaccurate or outdated personal information,
or if you have any questions or concerns regarding our Privacy
Policy, email us at</FONT></FONT><FONT COLOR="#414042"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt">
</FONT></FONT></FONT><FONT COLOR="#0000ff"><U><A HREF="mailto:CustomerService@BarrellRun.com"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>CustomerService@BarrellRun.com</FONT></FONT></A></U></FONT></P>
</div>

