<hr class="space">
<div class="prepend-1 span-22 last">
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>By
using the BarrellRun application and clicking on the ACCEPT checkbox,
you agree to the following:</FONT></FONT></P>
<H2 CLASS="western" STYLE="margin-top: 0.38in; margin-bottom: 0.22in; font-weight: normal; line-height: 0.48in">
<FONT SIZE=2>END-USER TERMS AND CONDITIONS OF USE AGREEMENT</FONT></H2>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>Please
read carefully</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>These
are the Terms and Conditions of Use ('Terms'), which govern the use
of this mobile electronic device application (&quot;App&quot;) and
its corresponding website (&quot;Site&quot;), which is solely owned
and operated by us, Point2Wine, Inc (&quot;Point2Wine&quot;, also
possibly know as &quot;us&quot;, &quot;we&quot;, &quot;our&quot; or
words of similar import), whether directly or through a business
relationship with any third-party. It is possible that not all of the
features or functionality described hereunder may be available or
applicable at the time you download your App or use our Site, but
rather some features may be forward-looking and anticipated for
future releases. Regardless, of whether or not all features or
functionality described hereunder are available at the time you
download and use the App or Site, you must read and agree to these
Terms and Conditions before using this App or Site. We reserve the
right to suspend or terminate your access and use of the Service at
any time if we do so with the good faith belief that our rights or
our intellectual property are at risk or for other reasons specified
hereunder. We may exercise this right with or without notice. If
applicable, notice will be given to your e-mail address as provided
by you to us. In that event, notice will be deemed to have been
served immediately after transmission or posting regardless of
whether or not the email was deliverable. By accessing this App or
Site you agree to be bound by the terms and conditions set out below.
If you do not wish to be bound by these Terms and Conditions, do not
purchase or access this App or Site.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>Definitions</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><BR>&quot;You&quot;
and/or &quot;your&quot; (and words of similar import) means, you, the
user, and/or the registered user; &quot;we&quot; and/or &quot;our&quot;
and/or &quot;us&quot; (and words of similar import) means Point2Wine,
a California corporation (including its shareholders, directors,
officers, employees, agents, representatives and third-party
suppliers and vendors) that owns the BarrelRun Application (&quot;App&quot;),
BarrelRun.com (&quot;Site&quot;), and all underlying intellectual
property, including but not limited to, software, trademarks, trade
names, logos, copyrights, and all proprietary data, and is sometimes
referenced herein as &quot; BarrelRun &quot;. The &quot;Service&quot;
means the App, Site, and all on-line and off-line information as
specified hereunder, including but not limited to, BarrelRun&rsquo;s
database of information, BarrelRun&rsquo;s Community of Users (&quot;User
Community&quot;), BarrelRun Content, User Content as applicable,
downloadable information, software application that facilitates
access to BarrelRun&rsquo;s data, functionality, or any other form of
data or App transmittal from our electronic system to yours,
including transmittal through any third party provider, and other
services provided by us or authorized third-parties to you and other
users and/or registered users and/or subscribers (individually a
&quot;User&quot; and collectively &quot;Users&quot;).</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>Use
of BarrelRun Content and User Content</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><BR>All
materials on the Site and App and materials of any kind whatsoever
sent by or through us to you and other Users via the Service
including without limitation, text, images, data, wine tasting notes,
wine scores, and wine information, are considered the &quot;
BarrelRun Content&quot;. All material on the Site and App and
material of any kind whatsoever or sent to us by you, via the Service
are considered the &quot;User Content&quot; (both BarrelRun Content
and User Content shall hereinafter sometimes be referred to as
&quot;Content&quot;). Unless otherwise stated, copyrights,
trademarks, and similar rights in and to all BarrelRun Content and
materials published on the Site and App are owned by Point2Wine or
its third party partners, representatives or agents, if any. You are
permitted to print or download extracts of BarrelRun&rsquo;s Content
for your personal use only but not for commercial use (wine trade,
retail, and media companies, please contact us for specific use
licenses or permissions) such as distributing or redistributing,
reselling, licensing, or otherwise profiting from BarrelRun Content
in any way. Except as may be granted in writing, no Content may be
used for any commercial or public use and no part of the Service or
any Content appearing on the Site or App may be, without limitation,
reproduced or stored in, or transmitted to, any other web Site or
electronic storage device not expressly authorized by Point2Wine. No
Content appearing on the Site or App may be disseminated in any form,
either electronic or non-electronic, nor included in any retrieval
system or service without the prior written permission of Point2Wine.
Any request for permission to reuse, repurpose, republish, or reprint
Content may be sent to Point2Wine via email to
</FONT></FONT><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="mailto:CustomerService@BarrellRun.com"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>CustomerService@BarrellRun.com</FONT></FONT></FONT></A></U></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2>.
Point2Wine does not own User Content, including without limitation,
your comments, and expressly disclaims any and all liability that may
result from them. By creating text of any nature, sharing User
Content with BarrelRun&rsquo;s User Community, or posting comments on
our Service, you agree that you retain all ownership rights in and to
your User Content. You agree that, any User Content you send to us or
you post to the User Community (including without limitation, in
addition to the BarrelRun Service, any device which can now or
hereafter deliver BarrelRun Content and/or User Content to Users in
any medium whatsoever, or to other related sites and services),
including but not limited to your wine scores and wine tasting notes,
you will relieve us from any and all liability that may result from
submitting such User Content. You further agree to grant Point2Wine a
worldwide, irrevocable, perpetual, non-exclusive, royalty-free,
sublicenseable and transferable license to store, use, transmit,
display, publish, reproduce, edit, modify, or otherwise distribute
your User Content and comments and to make such additional uses of
your User Content as may be deemed appropriate by Point2Wine in its
sole discretion without limitation or compensation to you, or refrain
from any of the foregoing.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>Registration</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><BR>Registration
requires that you provide Point2Wine with accurate and complete
registration information (&quot;Registered Account&quot;) and you
expressly agree that your failure to do so or to maintain such
accurate registration information relieves Point2Wine from any
liability whatsoever. Each Registered Account is for one (1) User
only. You expressly agree that upon registration, you agree to
provide your first name, last name, a valid email address, address of
residence (optional) and your zip code (optional). You will be
further required to provide us with a user name or &lsquo;screen
name&rsquo; in order to enable you to personally share your scores
and tasting notes to the Community. Point2Wine does not permit the
following:</FONT></FONT></P>
<UL>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>any person under the age
	of twenty-one (21) to create an account and use our services.</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>any other person or
	entity sharing or using your user name or registration information;</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>access through a single
	name and password being made available to multiple users on a
	network or in any other form whatsoever.</FONT></FONT></P>
</UL>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>You
are responsible for all use of the Service and for preventing
unauthorized use of your user name, password and Registered Account.
If you believe there has been any breach of security such as the
disclosure, theft or unauthorized use of your Registered Account, you
must notify us immediately by email to
</FONT></FONT><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="mailto:CustomerService@BarrellRun.com"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>CustomerService@BarrellRun.com</FONT></FONT></FONT></A></U></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2>.
Please read our Privacy Policy for further information.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>Content
by Email</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><BR>Point2Wine
may give you the option to request Content by email. We may also send
you email to keep you updated on Service developments and your
account status. Your use of the Content received through these email
services will be subject to these Terms. You can unsubscribe to our
email service by notifying us at </FONT></FONT><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="mailto:CustomerService@BarrellRun.com"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>CustomerService@BarrellRun.com</FONT></FONT></FONT></A></U></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2>,
however we may still send you emails regarding your account status
from time to time until you cancel your account.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>No
warranties, exclusion of damages, limitation of liability, disclaimer
and exclusive remedy.</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><BR>The
Content is intended for adults over the age of twenty-one (21) years
only and by agreeing to the Terms hereof, you warrant and represent
that you are twenty one (21) years of age or older. Content is only
for your general information and use and is not intended to address
your particular requirements. You agree that your use of the Service,
including without limitation, any arrangements made between you and
any third party found on the Service or through the Content is at
your sole risk and you acknowledge and agree that the Service and
anything contained therein, including, but not limited to, Content,
Service, goods or advertisements (the &quot;Items&quot;) are provided
&quot;AS IS&quot; and that Point2Wine makes no warranty of any kind,
express or implied, as to the Items, including but not limited to,
merchantability, or fitness for a particular purpose or use.
Point2Wine does not warrant that the Service will be available at all
times or is compatible with your electronic equipment or that the
Service is free of errors or viruses, worms, &quot;Trojan horses&quot;
or similar programs and you agree that Point2Wine is not liable for
any damage you may suffer as a result of such destructive features. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>SOME
STATEs DO NOT ALLOW LIMITS OF LIABILITIES, HOWEVER, to the greatest
extent allowed by law, You agree that Point2Wine, its suppliers and
its third-party agents shall have no responsibility or liability for
any injury or damages, whether caused by the negligence of
Point2Wine, its shareholders, directors, officers, employees, agents
subcontractors, vendors, suppliers arising in connection with the
Service and as such shall not be liable for any monetary loss, direct
or indirect damages, punitive, incidental, special, or consequential
damages however caused and under any theory of liability and whether
or not Point2Wine has been advised of the possibility of such damage,
or any claim against Point2Wine by you or any other party or entity
that has accessed the Service via your registered account, or any
claim against Point2Wine regarding or related to any fault,
inaccuracy, omission, delay or any other failure in the Service
caused by our servers, computers or other equipment, or your
electronic equipment or arising from your use or attempted use of the
Service on such equipment. The content of other Web Sites, services,
goods or advertisements that may be linked to the Service, if any, is
not maintained or controlled by Point2Wine and therefore Point2Wine
is not responsible for the availability, content or accuracy of other
Web Sites, services or goods that may be linked to or advertised on
the Service. Point2Wine does not (a) make any warranty, express or
implied, with respect to the use of the links provided on, or to, the
Service including without limitation any content, (b) guarantee the
accuracy, completeness, accessibility to, usefulness or adequacy of
the Service or any other Web Sites, services, goods or advertisements
that may be linked to the Service or (c) make any endorsement,
express or implied, of any other Web Sites, services, goods or
advertisements that may be linked to the Service. Point2Wine is also
not responsible for the reliability or continued availability of any
connections and equipment you use to access the Service. You
understand and agree that Point2Wine and/or third-party contributors
to the Service may choose at any time to inhibit or prohibit their
content from being accessed under the Terms of this Agreement.
Point2Wine expressly does not guarantee, warrant, or represent that
any wine published or displayed in BarrelRun functionality or
conveyed to you via its service, will be available to you at any
given time or at all, sold for the price published, will taste as
described, will not be flawed, or will be of the same quality as
described, and you agree to use such information solely at your own
risk. In no event shall Point2Wine&rsquo;s liability to you exceed
the amount of fees received by Point2Wine under this Agreement. The
existence of one or more claims will not enlarge this limit.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>Rules
of Conduct</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>&nbsp;</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><BR>Point2Wine
does not own User Content, your comments, or your posted information
and expressly disclaims any and all liability that may result
therefrom. By commenting, scoring, or otherwise sharing information
on our Site and/or in the BarrelRun User Community in any format, and
by any means whatsoever, you agree that you retain all ownership
rights in your User Content and that you will relieve Point2Wine from
any and all liability that may result from such User Content. You
further agree to grant Point2Wine a worldwide, irrevocable,
non-exclusive, royalty-free, sub-licensable and transferable license
to store, use, transmit, display, edit, modify, publish, reproduce,
or otherwise distribute your User Content without limitation, as well
as to make such additional uses of User Content as may be deemed
advisable by Point2Wine or any affiliated entity.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>By
generating User Content or posting information or comments in the
Service including without limitation, the User Community, or any
other interactive service that may be available to you through the
Service, you expressly agree to not upload, post, submit, or
otherwise distribute or facilitate distribution of any content
including, without limitation, text, communications, wine scores,
software, images, sounds, data, or other information that:</FONT></FONT></P>
<UL>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>contains profane or
	vulgar language;</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>contains libelous,
	defamatory, slanderous, or otherwise untruthful remarks about a
	person or company, or post or upload copyrighted material from any
	other source, or invade any person&rsquo;s privacy for which you may
	be held legally liable;</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>is insulting or
	argumentative without merit, unlawful, threatening, abusive,
	harassing, defamatory, libelous, deceptive, or fraudulent;</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>contains explicit or
	graphic words, descriptions, or accounts of sexual acts;</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>use vulgar language in
	the creation of a user name or otherwise violates the Services&rsquo;
	rules or policies or these Rules of Conduct;</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>harasses, degrades, or
	intimidates an individual or group of individuals;</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>infringes on any patent,
	trademark, trade secret, copyright, right of publicity, or any
	proprietary right of any party;</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>breaches the terms or
	conditions of any confidentiality or non-disclosure agreement to
	which you may be subject;</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>constitutes unauthorized
	or unsolicited advertising, including junk, bulk, spam or spam
	e-mail, any other form of unauthorized solicitation, or any form of
	lottery or gambling;</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>contains software
	viruses or any other computer code, files, or programs that are
	designed or intended to disrupt, damage, or limit the functionality
	of any software, hardware, or telecommunications equipment or to
	damage or obtain unauthorized access to any data or other
	information of BarrelRun Service or any third party;</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>attempts to, or is
	intended to, in any way unfairly, falsely, or fraudulently
	influence, modify, manipulate, or alter Community wine scores, data,
	or information, as determined solely by Point2Wine;</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.07in; margin-bottom: 0.07in">
	<FONT FACE="Arial, sans-serif"><FONT SIZE=2>impersonates any person
	or entity, including any employee or representative of Point2Wine or
	the Service.</FONT></FONT></P>
</UL>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Point2Wine
reserves the right to delete your comments or revoke your access to
the Service, or User Community access or functionality for any
reason. Rarely, if ever, will we do so simply because we disagree
with you. We will, however, usually do so if you post something that
is, in our good-faith opinion, off-topic or related to any of the
above restrictions specified in this Section (Rules of Conduct).</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Collection
of information about the Users of this Service through any means
whatsoever or using such information for the purpose of soliciting
business of any kind or transmitting or facilitating transmission of
unsolicited bulk electronic e-mail or communications is strictly
prohibited.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Registration
is limited to one username per user. The Service may, without prior
notice, immediately terminate your ability to use the User Community,
Site, or portions of the Service after discovering you have
registered, and/or posted under, multiple usernames.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Advertisements
and solicitations of any kind are strictly prohibited. As a person or
entity who is not a BarrelRun Site or Service sponsor, you may not
solicit any user with any type of commercial offer, or advertise your
business through the User Community, which includes, but is not
limited to, using email addresses or User names designed to advertise
a business or which includes a business name (for example,
&quot;XYZCompanydotcom&quot; or &quot;XYZCompany.com&quot;), private
messages, profile pages, file attachments, posting your phone or fax
number(s), email or postal addresses, and posting any URLs or
hyperlinks to your commercial web Site(s) or email account(s) or
otherwise disclosing any business contact information to any other
user. Point2Wine may remove or edit any posted content, without prior
notice, that in its sole discretion contains unauthorized
advertisements or solicitations and may, without prior notice,
immediately terminate your ability to access the App upon discovery
of any unauthorized advertising or solicitation.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Other
than as specified hereunder, Point2Wine does not accept any ideas,
text, or content considered to be proprietary. Consequently, you
expressly agree that any material you submit to the Service in any
format whatsoever, will be deemed an unrestricted, irrevocable, and
perpetual grant of a royalty free, non-exclusive right and license to
use, reproduce, modify, display, transmit, adapt, publish, translate,
create derivative works from and distribute these materials
throughout the universe in any medium and through any methods of
distribution, transmission and display whether now known or hereafter
devised or refrain therefrom in Point2Wine&rsquo;s sole discretion.
Additionally, you warrant and represent that you hereby irrevocably
waive any moral rights in regard to any material or User Content you
submit to the Service and you also agree that Point2Wine is free to
use, for any purpose, any ideas, concepts, know-how, or techniques
that you send it, without obligation to you of any kind whatsoever.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>We
may disclose personal information if required to do so by law or in
the good-faith belief that such action is necessary to conform with
the law, and respond to claims or comply with legal inquiries about
you or your User Content.</FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2>&nbsp;</FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>You
represent that you have read and agree to the terms and conditions of
our Privacy Policy </B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2>and
how we collect, handle, and use your personal information.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Point2Wine
does not pre-screen the content posted to the User Community by
Users. However, Point2Wine has the right to remove any content that
in its sole judgment does not comply with the Rules of Conduct or,
without limitation, is otherwise harmful, infringing, objectionable,
or inaccurate. Point2Wine may suspend or ban Users posting such
content at any time without notice, however, Point2Wine is not
responsible for any failure or delay in removing or editing such
content.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>Changes
to These Terms</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><BR>Point2Wine
may add, delete, or otherwise modify the provisions of this Agreement
from time to time. Any such changes will be accessible to you by
being posted on the Service&rsquo;s webpage located at
www.BarrelRun.com. It is your responsibility as a User to refer to
these changes. Unless noted otherwise, any changes will become
effective immediately upon being posted and you will be deemed to
have accepted them if you access the Service after that time. If you
do not wish to accept them, you must discontinue accessing the
Service. You agree to maintain accurate registration information with
Point2Wine and update it if it changes. If you fail to do so, you
will be in breach of this Agreement. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>No
Waiver</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><BR>No
failure or delay in exercising any right or remedy, or in requiring
the satisfaction of any condition under this Agreement, and no act,
omission or course of dealing or course of performance by Point2Wine,
operates as a waiver or estoppel of any right, remedy or condition,
nor shall the waiver by Point2Wine of a breach of any provision
hereof be taken or held to be a waiver of the provision itself.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>Choice
of Law</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><BR>The
laws of the State of California, in the United States of America,
shall govern these terms and conditions and you hereby irrevocably
submit to the exclusive jurisdiction of California courts. Nothing in
this clause shall limit our right to take proceedings against you in
any other court of complete jurisdiction, nor shall the taking of
proceedings in one or more jurisdictions preclude the taking of
proceedings in any other jurisdiction or jurisdictions, whether
concurrently or not, to the extent permitted by law of such other
jurisdictions.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>General</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><BR>You
may not assign, sub-license, or otherwise transfer any of your rights
under these Terms. If any provision of these Terms is found to be
invalid by a court having competent jurisdiction, the invalidity of
that provision will not affect the validity of the remaining
provisions of these Terms, which shall remain in full force and
effect. Failure by Point2Wine to exercise any right or remedy under
these Terms does not constitute a waiver of that right or remedy.
Headings in these Terms are for convenience only and will have no
legal meaning or effect. You also agree to defend, indemnify, and
hold harmless Point2Wine and its shareholders, directors, officers,
employees, independent contractors, affiliates, agents, third party
providers and vendors from and against any claims, actions, demands,
expenses, liabilities, costs, debts, and damages (including legal and
professional fees) asserted by any third party arising from your use
or attempted use of the Service, any third party&rsquo;s unauthorized
access to the Service via your Registered Account, or your actual or
alleged violation of any law, including without limitation, laws
governing intellectual property or privacy rights, or your violation
of these Terms. You represent and warrant that you are not located in
a country that is subject to a US Government embargo or that has been
designated by the US Government as a &quot;terrorist supporting&quot;
country, and that you are not listed on any US Government list of
prohibited or restricted parties. You are responsible for complying
with all applicable third terms of agreement when using the App or
Service. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><B>Entire
Agreement</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2><BR>Point2Wine
reserves all rights not specified hereunder. These terms and
conditions constitute the entire Agreement between you and
Point2Wine, Inc with respect to the subject matter hereof and exclude
any representations or warranties previously given or made.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 0.21in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>If
you agree to abide by all of the terms and conditions of this
BarrelRun End-User Terms and Conditions of Use Agreement, click
Accept. If you decline you must not use any of our Services.</FONT></FONT></P>
</div>

