<div class="span-6 append-bottom last">
  <% if user_signed_in? %>
    <div class="stars">
      <form action="<%= action(object) %>" method="post">
        <%= render_stars object %>
      </form>
    </div>
  <% else %>
    <div class="stars">
        <%= render_stars object, true %>
    </div>
  <% end %>
</div>
