<div id="home" class="current">

  <div class="toolbar">
      <h1>Specials </h1>
      <a href="/">Back</a>
  </div>
  
  <div class="body">
       <ul>
       	<% for special in @specials %>
        <li class="arrow">
           <table>    
           <tr> 
            <td>
            	<div><%= link_to h(special.title), special %> </div>
            	<div><%= link_to h(special.description), special %> </div>
            </td>
            </tr>
             </table>                     
         </li>
        <% end %>
    </ul>  
</div>   
  
</div>
