#top{
  @include column(24, true);

  #title{
    @include column(5);
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    color: #000000;
    padding-top: 12px;
    padding-bottom: 3px;
  }
}