<div id="search_results" class="span-17 last">
  <div class="list">
    <div class="pagination">
      <div class="span-17">
        <%= will_paginate @search_results, :container => false %>
      </div>
    </div>
    <div class="span-17 last">
      <br>
      <% @search_results.each do |search_result| %>
        <% if search_result.instance_of?(Winery) then %>
          <%= render :partial => "winery", :locals => {:winery => search_result} %>
        <% elsif search_result.instance_of?(Wine) then %>
          <%= render :partial => "wine", :locals => {:wine => search_result} %>
        <% end %>
      <% end %>
    <div class="pagination">
      <div class="span-17">
        <%= will_paginate @search_results, :container => false %>
      </div>
    </div>
  </div>
</div>

