#search_results
  .list
    #pagination
      = will_paginate @search_results, :container => false
      - @search_results.each do |search_result|
        - if search_result.instance_of?(Winery) then
          = render :partial => "winery", :locals => {:winery => search_result}
        - elsif search_result.instance_of?(Wine) then
          = render :partial => "wine", :locals => {:wine => search_result}