body {
  // @include linear-gradient(color-stops(#F0F0F0, #fff));
  @include background(linear-gradient(left top, #F0F0F0, #FFFFFF));
  position: relative;
  z-index:-100;
}

#body-container {
  // TODO: This is a bit of a mess but I didn't find a better way of doing this.
  // container seems to automatically include the modern clearfix (overflow: hidden)
  // but I don't want the overflow to be hidden so I have to overwrite that and then apply
  // the classic clearfix, pie-clearfix which adds a psuedo element and clears both.
  @include container;
//  overflow: visible;
//  @include pie-clearfix;
  background: #fff;
  min-height: 600px;
  position: relative;
  z-index: -2;
}

.alert p.error_notification {
  margin-bottom: 0;
}