#message_box {
   position: fixed;
   bottom: 0px;
   right: 5px;
   width: 320px;
   z-index: 10;
}

.notices {
   position: relative;
   min-height: 30px;
}

.skin {
   position: absolute;
   background-color: #000;
   bottom: 0px;
   left: 0px;
   opacity: 0.6;
   right: 0px;
   top: 0px;
   z-index: -1;
   @include border-radius;
}

// .close {
//    background: transparent url('/assets/barrelrun/close_icon.gif') 0 0 no-repeat;
//    height: 25px;
//    width: 25px;
//    position: absolute;
//    right: 0px;
//    top: 5px;
//    text-indent: -9999px;
// }

#message_box p {
   color: #fff;
   padding: 5px;
   margin: 1em 0px;
}