<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
  $.jQTouch({
      icon: 'jqtouch.png',
      statusBar: 'black-translucent',
      preloadImages: [
          'themes/jqt/img/chevron_white.png',
          'themes/jqt/img/bg_row_select.gif',
          'themes/jqt/img/back_button_clicked.png',
          'themes/jqt/img/button_clicked.png'
          ]
  });
  </script>
<% end %>

<div id="home" class="current">
  <div class="toolbar">
      <h1>Barrel Run</h1>
  </div>
  <ul id="links" class="rounded">
    <li class="arrow"><a href="#topWines">Top Wines</a></li>
    <li class="arrow"><a href="#topWineries">Top Wineries</a></li>
  </ul>
</div>
