=stylesheet_link_tag "application",:media=> "all"
=stylesheet_link_tag "barrelrun_mobile" if mobile_devise?
=stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/blitzer/jquery-ui.css"

