:javascript
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'https://' : 'http://')+'widget.uservoice.com/It26yRVjBVFCCWc2Zh3DQ.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
